prompt*
!/utils/prompt.py
/.etc/
bin/
obj/
_*.py
__*
*.csproj.lscache

/export/*
!/export/_final/
!/export/_extra/
!/export/hashes.txt
!/export/h.py

/utils/svg/ladders
/export/_final/svg_layers/ladders.png
/assembly/