prompt*
.etc/
bin/
obj/
_*.py
__*
*.csproj.lscache

/export/*
!/export/_final/
!/export/_extra/
/export/_final/assembly/bridges_aim.png

/utils/svg/safehouses/
/utils/svg/garrisons/
/utils/svg/runways/
/utils/svg/runways_aim/
/utils/svg/bridges_aim/
/utils/svg/tiers/
/utils/svg/drop_pads/
/utils/svg/interiors/
/utils/svg/stairs/

/export/_final/svg_layers/bridges_aim.png
/export/_final/svg_layers/drop_pads.png
/export/_final/svg_layers/garrisons.png
/export/_final/svg_layers/highlights.png
/export/_final/svg_layers/runways.png
/export/_final/svg_layers/runways_aim.png
/export/_final/svg_layers/urban.png
