prompt*
.etc/
bin/
obj/
_*.py
__*

/export/*
!/export/_final/
!/export/_extra/

utils/svg/safehouses/
utils/svg/garrisons/
utils/svg/runways/
utils/svg/runways_aim/
utils/svg/bridges_aim/
utils/svg/tiers/
utils/svg/drop_pads/
utils/svg/interiors/
utils/svg/stairs/
